Repository adimajo/whiteapp_shiny: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, buildbinary, documentation, checkerrors, checkwarnings, checknotes, unittestserrors, unittestswarnings, coverage, quality_check, build whiteapp, deploy_dev

Path conditions:
  lint: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  buildbinary: any of: .gitlab-ci.yml, Dockerfile, DESCRIPTION, R/**/*, inst/**/*
  documentation: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  checkerrors: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  checkwarnings: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  checknotes: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  unittestserrors: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  unittestswarnings: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  coverage: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  quality_check: any of: .gitlab-ci.yml, DESCRIPTION, R/**/*, inst/**/*
  build whiteapp: any of: .gitlab-ci.yml, Dockerfile, DESCRIPTION, R/**/*, inst/**/*
  deploy_dev: any of: .gitlab-ci.yml, Dockerfile, DESCRIPTION, R/**/*, inst/**/*

missing explicit dependency
  inst/pipeline/sonarqube.R
Due: lint, buildbinary, documentation, checkerrors, checkwarnings, checknotes, unittestserrors, unittestswarnings, coverage, quality_check, build whiteapp, deploy_dev

sonar fix and exclusions
  inst/pipeline/sonarqube.R
Due: lint, buildbinary, documentation, checkerrors, checkwarnings, checknotes, unittestserrors, unittestswarnings, coverage, quality_check, build whiteapp, deploy_dev

sonar fix and exclusions
  .gitlab-ci.yml
  inst/pipeline/sonarqube.R
Due: lint, buildbinary, documentation, checkerrors, checkwarnings, checknotes, unittestserrors, unittestswarnings, coverage, quality_check, build whiteapp, deploy_dev

registry parametrization and build ignore
  .Rbuildignore
  Dockerfile
Due: buildbinary, build whiteapp, deploy_dev

registry parametrization and build ignore
  .Rbuildignore
  .gitlab-ci.yml
  Dockerfile
Due: lint, buildbinary, documentation, checkerrors, checkwarnings, checknotes, unittestserrors, unittestswarnings, coverage, quality_check, build whiteapp, deploy_dev

added github workflow
  .Rbuildignore
  .github/workflows/r-shiny.yml
Due: none

added github workflow
  .Rbuildignore
  .github/workflows/r-shiny.yml
  .gitlab-ci.yml
Due: lint, buildbinary, documentation, checkerrors, checkwarnings, checknotes, unittestserrors, unittestswarnings, coverage, quality_check, build whiteapp, deploy_dev

docker_registry_bis
  .Rbuildignore
  Dockerfile
Due: buildbinary, build whiteapp, deploy_dev

docker_registry_bis
  .Rbuildignore
  .gitlab-ci.yml
  Dockerfile
Due: lint, buildbinary, documentation, checkerrors, checkwarnings, checknotes, unittestserrors, unittestswarnings, coverage, quality_check, build whiteapp, deploy_dev

one too many /
  Dockerfile
Due: buildbinary, build whiteapp, deploy_dev

USER nobody?
  Dockerfile
Due: buildbinary, build whiteapp, deploy_dev

install styler
  .github/workflows/r-shiny.yml
Due: none

vector of packages
  .github/workflows/r-shiny.yml
Due: none

install pkgdown for doc step
  .github/workflows/r-shiny.yml
Due: none

steps order, application version env var, documentation push to branch
  .github/workflows/r-shiny.yml
Due: none

deleted files for pages branch
  .Rbuildignore
  .Rprofile
  .github/workflows/r-shiny.yml
  .gitignore
  .gitlab-ci.yml
  DESCRIPTION
  Dockerfile
  LICENSE
  NAMESPACE
  R/runDashboard.R
  R/version.R
  docs/index.html
  inst/dashboard/server.R
  inst/dashboard/ui.R
  inst/dashboard/www/logo_gro.png
  inst/pipeline/document.R
  inst/pipeline/lint.R
  inst/pipeline/sonarqube.R
  renv.lock
  renv/.gitignore
  renv/activate.R
  renv/settings.dcf
  scripts/cli_tool.R
  scripts/runDashboard.bat
  tests/testthat.R
  tests/testthat/test-version.R
  whiteapp_r_shiny.Rproj
Due: lint, buildbinary, documentation, checkerrors, checkwarnings, checknotes, unittestserrors, unittestswarnings, coverage, quality_check, build whiteapp, deploy_dev

missing dependencies in workflow
  .github/workflows/r-shiny.yml
Due: none

missing $ for env var treated as password instead of token
  .github/workflows/r-shiny.yml
Due: none

test multiline command in action
  .github/workflows/r-shiny.yml
Due: none

with user info
  .github/workflows/r-shiny.yml
Due: none
